  @charset "utf-8";
  @import 'partials/mixins';
  /* On charge les polices personnalisées, Noto */
  /* //////////////////////////////////////////////// */
  
  @include aileron-fontface(400, normal);
  @include oswald-fontface(400, normal);
  @include opensans-fontface('Bold', 400, normal);
  @include opensans-fontface('Regular', 400, normal);
  /* //////////////////////////////////////////////// 
 //////////////////////////////////////////////// */
  /* Couleur */
  
  $color-1: #232323;
  $couleur_sup: rgba(201, 199, 174, 0.9);
  $rouge: rgba(220, 40, 39, 0.9);
  $blanc: rgba(255, 255, 255, 1);
  $overlay: rgba(255, 255, 255, 0.95);
  $transparent: rgba(0, 0, 0, 0);
  /* ///////////////////////////////////// */
  
  html {
      display: none;
      min-height: 100%;
      h1,
      h2,
      h3,
      h4,
      p,
      a {
          font-family: "Opensans", sans-serif;
          margin: 0;
      }
      /* Links */
      a:link {
          font-weight: bold;
          text-decoration: none;
          outline: 0;
          color: $blanc;
      }
      /* visited link */
      a:visited {
          color: $blanc;
      }
      /* mouse over link */
      a:hover {
          color: rgb(212, 212, 212);
      }
      /* selected link */
      a:active {
          color: $blanc;
      }
      div {
          margin: 0;
      }
      body {
          margin: 0;
          background: $blanc;
          overflow-x: hidden;
          min-height: 100%;
          width: 100%;
          height: 100%;
          .clear {
              clear: both;
          }
          #cadre div {
              z-index: 10000;
              position: fixed;
              &:nth-child(1) {
                  top: 0;
                  left: 0;
                  height: 20px;
                  width: 100%;
                  background: #212121;
                  @media (max-width: 600px) {
                      height: 10px;
                  }
              }
              &:nth-child(2) {
                  position: fixed;
                  right: 0;
                  height: 100%;
                  width: 20px;
                  background: #212121;
                  @media (max-width: 600px) {
                      width: 10px;
                  }
              }
              &:nth-child(3) {
                  position: fixed;
                  bottom: 0;
                  height: 20px;
                  width: 100%;
                  background: #212121;
                  @media (max-width: 600px) {
                      height: 10px;
                  }
              }
              &:nth-child(4) {
                  position: fixed;
                  left: 0;
                  height: 100%;
                  width: 20px;
                  background: #212121;
                  @media (max-width: 600px) {
                      width: 10px;
                  }
              }
          }
          .social {
              position: fixed;
              z-index: 18;
              @include center(y);
              right: 30px;
              width: 30px;
              @media (max-width: 500px) {
                  display: none;
              }
              img {
                  width: 30px;
                  height: auto;
                  &:nth-child(1) {}
                  &:nth-child(2) {}
                  &:nth-child(3) {}
                  &:nth-child(4) {}
                  @media (max-width: 500px) {
                      width: 20px;
                  }
              }
          }
          .bouton_mobile {
              display: block;
              position: fixed;
              z-index: 20;
              bottom: 50px;
              height: 44px;
              width: 44px;
              @include center(x);
              background: $transparent;
              cursor: pointer;
              /* on supprime ici les bordures lors du clic sur le bouton */
              border: none;
              @include suppr-contour;
              transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
              span {
                  position: absolute;
                  height: 4px;
                  background-color: $color-1;
                  left: 28.4%;
                  bottom: auto;
                  right: auto;
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
                  -webkit-transition: .25s ease-in-out;
                  transition: .25s ease-in-out;
                  &:nth-child(1) {
                      top: 14px;
                      width: 20px;
                      @include center(x);
                  }
                  &:nth-child(2) {
                      top: 20px;
                      width: 12px;
                      @include center(x);
                  }
                  &:nth-child(3) {
                      top: 26px;
                      width: 5px;
                      @include center(x);
                  }
              }
              &.isActive {
                  /* petit effet d'incrustation du bouton sur l'overlay (disparition du bouton) */
                  background: $transparent;
                  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
                  span {
                      &:nth-child(1) {
                          top: 20px;
                          left: 15px;
                          -webkit-transform: rotate(45deg);
                          -ms-transform: rotate(45deg);
                          transform: rotate(45deg);
                      }
                      &:nth-child(2) {
                          opacity: 0;
                      }
                      &:nth-child(3) {
                          top: 19.5px;
                          width: 20px;
                          left: 15px;
                          -webkit-transform: rotate(-45deg);
                          -ms-transform: rotate(-45deg);
                          transform: rotate(-45deg);
                      }
                  }
              }
          }
          /* fullscreen-menu overlay */
          #overlay {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              /* Overlay position*/
              display: none;
              position: fixed;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: $overlay;
              z-index: 19;
              .men {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  width: 100%;
                  height: 100vh;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  ul {
                      list-style: none;
                      margin: 0;
                      padding: 0;
                      color: white;
                      text-align: center;
                      li a {
                          color: #424134;
                          font-size: 4.5vh;
                          text-transform: uppercase;
                          text-decoration: none;
                          line-height: 48px;
                          transition: all 0.5s;
                          @include suppr-contour;
                          &:hover {
                              color: $color-1;
                          }
                      }
                  }
                  .social_mobile {
                      margin-top: 25px;
                      img {
                          @media (max-width: 500px) {
                              width: 30px;
                          }
                      }
                      @media (min-width: 500px){
                          display: none;
                      }
                  }
              }
          }
          .slider_content {
              position: fixed;
              width: 100%;
              margin: 30px auto;
              z-index: 10;
              /* margin: 30px 30px 0 30px; */
              @media (max-width: 600px) {
                  display: block;
                  margin: 20px auto;
              }
              img {
                  float: left;
                  width: auto;
                  height: 13.7px;
                  margin-left: 30px;
                  // -webkit-filter: grayscale(1) invert(1); // inverse le noir et blanc
                  // filter: grayscale(1) invert(1);
                  @media (max-width: 600px) {
                      margin-left: 20px;
                  }
              }
              h2 {
                  float: left;
                  font-size: 16px;
                  margin-left: 5px;
                  @media (max-width: 600px) {
                      font-size: 12px;
                  }
              }
              ul {
                  /* menu langage */
                  float: right;
                  margin: 0;
                  font-size: 16px;
                  margin-right: 30px;
                  @media (max-width: 600px) {
                      margin-right: 20px;
                      font-size: 12px;
                  }
                  li {
                      float: left;
                      list-style: none;
                      display: inline-block;
                      margin-right: 5px;
                      @include suppr-contour;
                      a {
                          color: #343434;
                          &.isActive {
                              color: darkred;
                          }
                      }
                  }
                  .lastlang {
                      margin-right: 0;
                  }
              }
          }
          /* .grpslider {
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: absolute; */
          /* Slider */
          .slider {
              width: 100%;
              position: relative;
              overflow-x: hidden;
              /* position: absolute    pour l'effet fade simplement 
                  ou relative pour le slide */
              float: left;
              bottom: 0;
              .contenu {}
          }
          /* Slides Background Color */
          .home {
              height: 100vh;
              background: url(../images/background/agence_communication_touristique_white.jpg) no-repeat center;
              -webkit-background-size: cover;
              /* pour anciens Chrome et Safari */
              background-size: cover;
              /* version standardisée */
              background-position: center center;
              margin: 0;
              padding: 0;
              text-align: center;
              color: black;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              align-items: center;
              justify-content: center;
              #titleIkom {
                  /* padding-top: 150px; */
                  img {
                      width: 50px;
                      height: auto;
                  }
                  h1 {
                      font-family: "OswaldExtraLight";
                      font-size: 20px;
                      margin-bottom: 10px;
                  }
                  h2 {
                      font-family: "Aileron";
                      font-size: 40px;
                      margin-bottom: 15px;
                  }
                  h3 {
                      font-family: "Aileron";
                      font-size: 15px;
                  }
              }
              .little {
                  width: 15%;
                  border: 0;
                  height: 1px;
                  background-image: linear-gradient(to right, transparent, #999, transparent);
              }
              .big {
                  width: 25%;
                  border: 0;
                  height: 1px;
                  background-image: linear-gradient(to right, transparent, #999, transparent);
              }
          }
          .about {
              background: $blanc;
              min-height: 100vh;
              font-size: 14px;
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              .agence {
                  h2 {
                      text-align: center;
                      font-family: "Aileron";
                      font-size: 50px;
                      margin-bottom: 70px;
                      padding-top: 70px;
                  }
                  h3,
                  strong {
                      font-weight: bold;
                  }
                  .little {
                      width: 15%;
                      border: 0;
                      height: 1px;
                      background-image: linear-gradient(to right, transparent, #999, transparent);
                  }
                  .big {
                      width: 25%;
                      border: 0;
                      height: 1px;
                      background-image: linear-gradient(to right, transparent, #999, transparent);
                  }
                  .textAgence {
                      width: 45%;
                      margin: auto;
                      padding-top: 20px;
                      padding-bottom: 20px;
                      font-family: "OpenSansRegular";
                      text-align: justify;
                      line-height: 20px;
                      @media (max-width: 500px) {
                          width: 80%;
                      }
                  }
                  .listArticle {
                      margin: 20px auto;
                      width: 100%;
                      left: 0;
                      text-align: center;
                      position: relative;
                      @media (max-width: 500px) {
                          width: 80%;
                      }
                      article {
                          margin: 30px auto;
                          width: 20%;
                          text-align: center;
                          position: relative;
                          display: inline-block;
                          vertical-align: top;
                          @media (max-width: 500px) {
                              width: 80%;
                          }
                      }
                      p {
                          padding-top: 15px;
                          width: 92%;
                          text-align: left;
                          margin: auto;
                          text-align: justify;
                          font-family: "OpenSansRegular";
                          @media (max-width: 500px) {
                              width: 100%;
                          }
                      }
                      img {
                          width: 15%;
                          display: inline;
                          @media (max-width: 900px) {
                              width: 20%;
                          }
                      }
                  }
              }
          }
          .team {
              background: url(../images/background/equipe_ikom_white.jpg);
              -webkit-background-size: cover;
              min-height: 100vh;
              /* pour anciens Chrome et Safari */
              background-size: cover;
              /* version standardisée */
              background-position: center center;
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              .equip {
                  margin-bottom: 25px;
                  h2 {
                      text-align: center;
                      font-family: "Aileron";
                      font-size: 40px;
                      margin-top: 55px;
                  }
                  hr {
                      width: 20%;
                      border: 0;
                      height: 1px;
                      background-image: linear-gradient(to right, transparent, #999, transparent);
                  }
                  .listTeam {
                      margin: 70px auto;
                      width: 100%;
                      position: relative;
                      text-align: center;
                      left: 0;
                      article {
                          max-width: 300px;
                          margin: 10px auto;
                          position: relative;
                          display: inline-block;
                          font-family: "OpenSansRegular";
                      }
                      img {
                          width: 60%;
                          @media only screen and (min-width: 800px) {
                              filter: grayscale(100%);
                              -webkit-filter: grayscale(100%);
                              -moz-filter: grayscale(100%);
                              -ms-filter: grayscale(100%);
                              -o-filter: grayscale(100%);
                              transition: all 1s;
                          }
                          &:hover {
                              @media only screen and (min-width: 800px) {
                                  -webkit-filter: grayscale(0%);
                                  -moz-filter: grayscale(0%);
                                  -ms-filter: grayscale(0%);
                                  -o-filter: grayscale(0%);
                                  color: #fff;
                              }
                          }
                      }
                      p {
                          padding-top: 5px;
                      }
                      p b {
                          font-family: "Aileron";
                          font-size: 25px;
                          line-height: 50px;
                      }
                  }
              }
          }
          .work {
              background: $blanc;
              min-height: 100vh;
              font-size: 14px;
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              .projet {
                  h2 {
                      text-align: center;
                      font-family: "Aileron";
                      font-size: 40px;
                      margin-bottom: 70px;
                      padding-top: 70px;
                      color: black;
                  }
                  hr {
                      width: 20%;
                      border: 0;
                      height: 1px;
                      background-image: linear-gradient(to right, transparent, #999, transparent);
                  }
                  .listProject {
                      margin: 20px auto;
                      width: 100%;
                      left: 0;
                      text-align: center;
                      position: relative;
                      @media (max-width: 500px) {
                          width: 80%;
                      }
                      article {
                          margin: 20px auto;
                          width: 20%;
                          text-align: center;
                          position: relative;
                          display: inline-block;
                          vertical-align: top;
                          @media (max-width: 500px) {
                              width: 80%;
                          }
                          @media (min-width:1400px) {
                              width: 10%;
                          }
                          p {
                              padding-top: 10px;
                              width: 92%;
                              text-align: left;
                              margin: auto;
                              text-align: justify;
                              font-family: "OpenSansRegular";
                              @media (max-width: 500px) {
                                  width: 100%;
                              }
                          }
                      }
                      img {
                          width: 60%;
                          display: inline;
                      }
                  }
              }
          }
          .contact {
              background: url(../images/background/contact_ikom.jpg);
              min-height: 100vh;
              -webkit-background-size: cover;
              /* pour anciens Chrome et Safari */
              background-size: cover;
              /* version standardisée */
              background-position: center center;
              font-size: 14px;
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              .contacter {
                  h2 {
                      text-align: center;
                      font-family: "Aileron";
                      font-size: 40px;
                      margin-bottom: 70px;
                      margin-top: 70px;
                  }
                  hr {
                      width: 25%;
                      border: 0;
                      height: 1px;
                      background-image: linear-gradient(to right, transparent, #999, transparent);
                  }
                  .listContact {
                      margin: 20px auto;
                      width: 100%;
                      left: 0;
                      text-align: center;
                      position: relative;
                      @media (max-width: 770px) {
                          width: 80%;
                      }
                      article {
                          margin: 20px auto;
                          width: 300px;
                          text-align: center;
                          position: relative;
                          display: inline-block;
                          vertical-align: top;
                          @media (max-width: 770px) {
                              width: 80%;
                          }
                          p {
                              padding-top: 10px;
                              width: 92%;
                              margin: auto;
                              text-align: center;
                              font-family: "OpenSansRegular";
                              font-weight: bold;
                              @media (max-width: 770px) {
                                  width: 75%;
                                  text-align: center;
                              }
                          }
                          img {
                              width: 15%;
                              display: inline;
                          }
                          form {
                              input[type=text] {
                                  border-top: 0;
                                  border-left: 0;
                                  border-right: 0;
                                  border-bottom: 2px solid black;
                                  background-color: transparent;
                                  // height: 20px;
                                  // margin-bottom: 20px;
                                  width: 70%;
                                  padding: 10px;
                                  transition: border-bottom .5s;
                                  @media (max-width: 770px) {
                                      width: 90%;
                                  }
                                  &:focus {
                                      outline: none;
                                      border-bottom: 2px solid #b01333;
                                  }
                              }
                              input[type=submit] {
                                  border: 2px solid black;
                                  background-color: transparent;
                                  padding: 10px;
                                  width: 150px;
                                  cursor: pointer;
                                  transition: all 1s;
                                  @media (max-width: 770px) {
                                      width: 70%;
                                  }
                                  &:focus {
                                      outline: none;
                                  }
                                  &:hover {
                                      background-color: black;
                                      color: white;
                                      border: 2px solid #b01333;
                                  }
                              }
                              textarea {
                                  border: 2px solid black;
                                  background-color: transparent;
                                  height: 100px;
                                  margin-bottom: 10px;
                                  width: 70%;
                                  /* max-width: 300px; */
                                  padding: 10px;
                                  margin-top: 10px;
                                  color: black;
                                  transition: border .5s;
                                  @media (max-width: 770px) {
                                      width: 90%;
                                  }
                                  &:focus {
                                      outline: none;
                                      border: 2px solid #b01333;
                                  }
                              }
                          }
                      }
                  }
              }
          }
          footer {
              clear: both;
              .copyright {
                  font-family: "OpenSansRegular";
                  padding-top: 5px;
                  font-size: 12px;
                  text-align: center;
                  margin: 0px 0 25px 0;
              }
          }
      }
  }
