$notosans-fontface-path: '../../fonts' !default;
@mixin aileron-fontface($weight, $style) {
    @font-face {
        font-family: 'Aileron';
        src: url('../fonts/Ailerons-Typeface.otf');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin oswald-fontface($weight, $style) {
    @font-face {
        font-family: 'OswaldExtraLight';
        src: url('../fonts/Oswald-ExtraLight.ttf');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin opensans-fontface($type, $weight, $style) {
    @font-face {
        font-family: 'OpenSans#{$type}';
        src: url('../fonts/OpenSans-#{$type}.ttf');
        font-weight: $weight;
        font-style: $style;
    }
}


/* on supprime les contours des éléments au focus */

@mixin suppr-contour {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}


/* Centrer horizontalement ou verticalement */

@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    @else if $xy==x {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @else if $xy==y {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}